@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    font-optical-sizing: auto;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    background-color: #F2F2F2;
    color: #181818;
    padding: 2rem;
    scroll-behavior: smooth;
}

header,
main {
    max-width: 64rem;
    width: 100%;
    margin-inline: auto;
}

header,
section {
    padding-block: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Mono';
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
}

h1 {
    font-size: 8.5rem;
    font-weight: 700;
    display: inline-block;
    margin-left: -1rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

ul {
    display: flex;
    gap: 2rem;
    padding: 0;
}

li {
    list-style: none;
}

a {
    font-family: 'Roboto Mono', monospace;
    color: #181818;
    font-weight: 700;
}

section>p,
article {
    padding-block: 0.5rem;
}

@media screen and (max-width: 1024px) {

    h1 {
        font-size: 5rem;
        margin-left: -0.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 425px) {

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    ul {
        flex-wrap: wrap;
        gap: 1rem;
    }
}

@media screen and (max-width: 320px) {

    h1 {
        font-size: 2.5rem;
    }
}

.header-link {
    text-decoration: none;
    color: inherit;
}

.features-list {
    flex-direction: column;
    gap: 0.5rem;
}