* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    background-color: #F2F2F2;
    color: #181818;
    padding: 2rem;
}

header,
main {
    max-width: 64rem;
    width: 100%;
    margin-inline: auto;
}

header,
section {
    padding-block: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
}

h1 {
    font-size: 8.5rem;
    font-weight: 700;
    display: inline-block;
    margin-left: -1rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

ul {
    display: flex;
    gap: 2rem;
    padding: 0;
}

li {
    list-style: none;
}

a {
    font-family: "Roboto Mono", monospace;
    color: #181818;
    font-weight: 700;
}

section>p,
article {
    padding-block: 0.5rem;
}

@media screen and (max-width: 1024px) {

    h1 {
        font-size: 5rem;
        margin-left: -0.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 425px) {

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    ul {
        flex-wrap: wrap;
        gap: 1rem;
    }
}

@media screen and (max-width: 320px) {

    h1 {
        font-size: 2.5rem;
    }
}